@media  only screen and (min-device-width: 768px) 
{
    .form-container {
      padding: 5%;
      background: #050D0F;
      border: 9px solid #F7B538;            
      max-width: 80%;
      margin: auto;
      color: #F7B538;
    }
    div#header {
      height: 120px;
      width: 90%;
      }
    div#main {
      border: solid 2px #F7B538;
      margin-left: 48%;
      min-height: 335px;
      }
    div#sidebar {
      border: solid 2px #F7B538;
      background-color: #050D0F;
      width: 37%;
      position: absolute;
      min-height: 310px;
      }
    div#footer {
      border: solid 2px #F7B538;
      }
}
body
{
    background: #F7B538;
}
h1,h3, p
{
  text-align: center;
  color: #F7B538;
}
input, textarea 
{
  width: 100%;
}    
#ocr{
  background-color: #F7B538;
  color: #050D0F;
  width: 120px;
  border: #050D0F;
  border-radius: 5px;
}
textarea
{
  height: 200px;
}
#steps {
  text-align: center;
  background-color: #F7B538;
  color: #050D0F;
  font-size: medium;
}
